<div class="quiz-question">
  <p class="text-primary">問題：<%= question.content %></p>
  <% question.choices.each do |choice| %>
    <div>
      <%= form.radio_button :answer, choice.id, id: "answer_#{choice.id}" %>
      <%= form.label :answer, choice.content, value: choice.id, class: 'text-primary' %>
    </div>
  <% end %>
</div>
<%= form.submit '回答する', class: 'btn btn-primary' %>