<div class="container">
  <%= link_to 'とりあえず爬虫類のことよくわからない人向けクイズ？？', '#', class: 'h1 mb-3' %>
  <%= link_to 'そこそ興味ある人向けクイズします？？', '#', class: 'h1 mb-3' %>
  <%= link_to 'とりあえず爬虫類の結構好きな人向けクイズします？？', '#', class: 'h1' %>
  <%= link_to 'マジで、マニアックだよ！！自分の好きな爬虫類関係出すよ！！クリアできるかな？？？？', '#', class: 'h1' %>
</div>
